= form_for [:person, @vaccination] do |f|
  -if @vaccination.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vaccination.errors.count, "error")} prohibited this vaccination from being saved:"
      %ul
        - @vaccination.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Имя'
    = @person.name
  .field
    = f.label 'Наименование вакцины'
    = f.select :vaccine_id, options_from_collection_for_select(Vaccine.all, "id", "name")
  .field
    = f.label 'Планируемая дата начала вакцинации'
    = f.date_select :plan, :start_year =>1990, :prompt => { :day => 'День', :month => 'Месяц', :year => 'Год' }, 
:use_month_names =>['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь',]
  .field
    = f.label 'Фактическая дата вакцинации'
    =f.date_select :fact, :start_year =>1990, :prompt => { :day => 'День', :month => 'Месяц', :year => 'Год' }, 
:use_month_names =>['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь',]
  .actions
    = f.submit 'Сохранить изменения'
