.page-header
  %h2 Назначенные прививки
- if @vaccinations.any?
  .row
    
    %table.table.table-bordered.table-striped
      %tr
        %th Person
        %th Vaccine
        %th Plan
        %th Fact
        %th
        %th
        %th

      - @vaccinations.each do |vaccination|
        %tr
          %td= vaccination.person.last_name
          %td= vaccination.vaccine.name
          %td= vaccination.plan
          %td= vaccination.fact
          %td= link_to 'Show', vaccination
          %td= link_to 'Edit', edit_vaccination_path(vaccination)
          %td= link_to 'Destroy', vaccination, :confirm => 'Вы уверены?', :method => :delete
- else
  .alert.alert-error
    Нет назначенных вакцин



- if @person
  .row
    .span12
      = link_to 'Назначить вакцинацию', new_person_vaccination_path(@person), :class => 'btn'