.page-header
  %h2 Назначенные прививки
- if @vaccinations.any?
  .row
    
    %table.table.table-bordered.table-striped
      %tr
        %th Ф.И.О
        %th Название вакцины
        %th Дата планируемой вакцинации
        %th Дата фактической вакцинации
        %th
        %th
        %th

      - @vaccinations.each do |vaccination|
        %tr
          %td= vaccination.person.name
          %td= vaccination.vaccine.name
          %td= vaccination.plan
          %td= vaccination.fact
          %td= link_to 'Отобразить', vaccination
          %td= link_to 'Редактировать', edit_vaccination_path(vaccination)
          %td= link_to 'Удалить', vaccination, :confirm => 'Вы уверены?', :method => :delete
- else
  .alert.alert-error
    Нет назначенных вакцин



- if @person
  .row
    .span12
      = link_to 'Назначить вакцинацию', new_person_vaccination_path(@person), :class => 'btn'