.page-header
  %h2 Назначенные прививки
- if @vaccinations.any?
  .row
    
    %table.table.table-bordered.table-striped
      %tr
        %th Ф.И.О
        %th Название вакцины
        %th Дата планируемой вакцинации
        %th Дата фактической вакцинации
        %th Первая прививка
        %th Вторая прививка
        %th Периодическая прививка
        %th

      - @vaccinations.each do |vaccination|
        %tr
          %td= vaccination.person.name
          %td= vaccination.vaccine.name
          %td= vaccination.plan
          %td= vaccination.fact
          %td
          %td
          %td
          %td
            .btn.dropdown
              #drop2.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
                Действие
                %b.caret
              %ul.dropdown-menu{"aria-labelledby" => "drop2", :role => "menu"}
                %li
                  = link_to 'Отобразить', vaccination, :tabindex => "-1"
                %li
                  = link_to 'Редактировать', edit_vaccination_path(vaccination), :tabindex => "-1"
                %li.divider
                %li
                  = link_to "<span class ='label label-important'>Удалить</span>".html_safe, vaccination, method: :delete, data: { confirm: 'Вы действительно хотите удалить вакцинацию пациента?' }, :tabindex => "-1", :class => 'btn-error'
- else
  .alert.alert-error
    Нет назначенных вакцин



- if @person
  .row
    .span12
      = link_to 'Назначить вакцинацию', new_person_vaccination_path(@person), :class => 'btn'