= form_for(@person) do |f|
  - if @person.errors.any?
    #error_explanation
      %h2
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Имя'
    %br/
    = f.text_field :first_name
  .field
    = f.label 'Фамилия'
    %br/
    = f.text_field :last_name
  .field
    = f.label 'Отчество'
    %br/
    = f.text_field :surname
  .field
    = f.label 'Дата рождения'
    %br/
    = f.date_select :birthday, :start_year =>1900
  .field
    = f.label 'Номер карты'
    %br/
    = f.text_field :card_number
  .field
    = f.label 'Место работы'
    %br/
    = f.text_field :service_place
  .field
    = f.label 'Должность'
    %br/
    = f.text_field :rank
  .actions
    = f.submit
