%h1 Вакцинация
%table
  %tr
    %th Имя
    %th Фамилия
    %th Отчество
    %th Дата рождения
    %th Номер карты
    %th Место службы
    %th Звание
    %th
    %th
    %th
  - @people.each do |person|
    %tr
      %td= person.first_name
      %td= person.last_name
      %td= person.surname
      %td= person.birthday
      %td= person.card_number
      %td= person.service_place
      %td= person.rank
      %td= link_to 'Показать', person, :class =>'btn'
      %td= link_to 'Редактирование', edit_person_path(person), :class =>'btn'
      %td= link_to 'Удалить', person, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn'
%br/
= link_to 'Добавить нового пациента', new_person_path, :class => 'btn'
