%p#notice= notice
%h1 Персональные данные пациента
%p
  %b Имя:
  = @person.first_name
%p
  %b Фамилия:
  = @person.last_name
%p
  %b Отчество:
  = @person.surname
%p
  %b Дата рождения:
  = @person.birthday
%p
  %b Номер карты:
  = @person.card_number
%p
  %b Место службы:
  = @person.service_place
%p
  %b Должность:
  = @person.rank
= link_to 'Редактировать', edit_person_path(@person), :class =>'btn'
|
\#{link_to 'Вернуться', people_path, :class => 'btn'}
