<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Surname:</b>
  <%= @person.surname %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>Card number:</b>
  <%= @person.card_number %>
</p>

<p>
  <b>Service place:</b>
  <%= @person.service_place %>
</p>

<p>
  <b>Rank:</b>
  <%= @person.rank %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
