.page-header
  %h2 Список вакцин в МСЧ учасвтующих в вакцинации
.row
  .span12
    %table.table.table-bordered.table-striped
      %tr
        %th Наименование
        %th Дата производства вакцины
        %th Схема вакцинации(в днях)
        %th Пероиодика вакцинации(в днях)
        %th Дата истечения срока годности
        %th
        %th
        %th

      - @vaccines.each do |vaccine|
        %tr
          %td= vaccine.name
          %td= vaccine.fact
          %td= vaccine.planning
          %td= vaccine.periodic
          %td= vaccine.plan
          %td= link_to 'Отобразить вакцину', vaccine,:class => 'btn'
          %td= link_to 'Редактировать', edit_vaccine_path(vaccine),:class => 'btn'
          %td= link_to 'Удалить', vaccine, :confirm => 'Вы уверены?', :method => :delete,:class => 'btn'

    %br

= link_to 'Новая вакцина', new_vaccine_path,:class => 'btn'
= link_to 'Отобразить список пациентов', people_path,:class => 'btn'