%p#notice= notice

%p
  %b Name:
  = @vaccine.name
%p
  %b Fact:
  = @vaccine.fact
%p
  %b Planning:
  = @vaccine.planning
%p
  %b Periodic:
  = @vaccine.periodic
%p
  %b Plan:
  = @vaccine.plan

= link_to 'Редактировать', edit_vaccine_path(@vaccine),:class => 'btn'
\|
= link_to 'Вернуться', vaccines_path,:class => 'btn'
